Django>=4.1,<5.0
gunicorn>=20.0.4
psycopg2-binary>=2.9.3
whitenoise>=6.4
djangorestframework>=3.13.1
Pillow>=9.0.0
split-settings>=1.0.0
daphne>=4.0.0
django-jet==1.0.8
channels>=4.0.0
dj-database-url>=0.5.0
python-decouple>=3.8
sqlparse>=0.4.2
django-summernote>=0.8.20.0
munkres>=1.1.4
networkx>=2.8.4
